@model IEnumerable<CommissionProject.Application>

@{
    ViewBag.Title = "List of applications";
}

<h2>List of applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abiturient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abiturient.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Speciality.Name)
    </td>
    <td>
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
        </button> |
        <button type="button" class="btn btn-info">
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        </button> |
        <button type="button" class="btn btn-danger">
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </button>
    </td>
</tr>
}

</table>
